/OlaMundoJavaSwing/nbproject/private/
/OlaMundoJavaSwing/build/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/JavaApplication6/dist/
/OlaMundoJavaSwing/dist/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/Aula05/nbproject/private/
/Aula05/build/
/Aula06/nbproject/private/
/Aula06/build/
/Aula06/dist/
/DadosDoSistemaOperacionalSwing/build/
/DadosDoSistemaOperacionalSwing/dist/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/VerificarIdade/nbproject/private/
/VerificarIdade/build/
/VerificarIdadeSwing/nbproject/private/
/CalculoIMC/nbproject/private/
/CalculoIMC/build/
/EstruturaDoWhile/nbproject/private/
/EstruturaDoWhile/build/
/EstruturaFor/nbproject/private/
/EstruturaFor/build/