/OlaMundoJavaSwing/nbproject/private/
/OlaMundoJavaSwing/build/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/JavaApplication6/dist/
/OlaMundoJavaSwing/dist/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/